* {
  font-family: "Lora", serif;
}

h1 {
  text-align: center;
  border-bottom: solid black;
}
.content {
  font-size: 20px;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}

.citation {
  text-align: center;
  border-top: solid black;
}
